-e git+https://github.com/jacobschaer/codeminer.git@ff6a312de42b56f0280572e42c0241fd11c8247d#egg=codeminer
coverage==4.2
gitdb==0.6.4
GitPython==2.0.8
mock==2.0.0
nose==1.3.7
PasteDeploy==1.5.2
pbr==1.10.0
pyramid==1.7.3
python-hglib==2.2
repoze.lru==0.6
six==1.10.0
smmap==0.9.0
SQLAlchemy==1.0.15
translationstring==1.3
venusian==1.0
WebOb==1.6.1
xmltodict==0.10.2
zope.deprecation==4.1.2
zope.interface==4.3.2
